<!DOCTYPE html>
<!-- Esta es la página principal del sitio web TechShop -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="~{general/fragmentos :: head}"></head>

    <body>

        <header th:replace="~{general/fragmentos :: header}"></header>

        <section th:replace="~{categoria/fragmentos :: editar}"></section>
        <section th:replace="~{general/fragmentos :: mostrarToast}"></section>

        <footer th:replace="~{general/fragmentos :: footer}"></footer>

    </body>

</html>
